@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700&display=swap');

body {
  background-color: #181a1b;
  font-family: 'Montserrat Alternates', sans-serif;
}

.carousel-inner>.carousel-item>img {
  height: 92vh;
}

.shows-link:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 100ms ease-in-out;
}